@import '../../scss/import';

// sass-lint:disable no-color-literals

$note-color: #fae989;
$angle-size: s(1);

.note {
  // @include apply-styles-set($font-sans-styles, 'note');
  background-color: $note-color;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.1);
  color: mix(get($tone, 'black'), $note-color);
  padding: s(0.5) s(1);
  position: relative;

  &::after {
    border-color: transparent transparent mix($note-color, #fff);
    border-style: solid;
    border-width: 0 0 $angle-size $angle-size;
    bottom: 0;
    content: '';
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 1;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: s(0.25);
    top: s(0.25);
    user-select: none;
    z-index: 2;
  }
}
