@import '../../scss/import';

.filters {
  background-color: get($tone, 'haze');
  padding: s(1);
  position: sticky;

  &__title {
    margin-bottom: s(0.5);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}
