@import '../../scss/import';

.filter {

  background-color: get($tone, 'haze');
  border-bottom: 2px solid mix(get($tone, 'mercury'), get($tone, 'haze'));
  padding: s(1);
  transition: background-color get($tween, 'hover');

  &--active {
    background-color: transparent;
  }

  &__header {
    display: flex;
    margin-bottom: s(0.5);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    flex-grow: 1;
  }
}
